<main>
   <div>
      <h2 class="header center">
         {{title}}
      </h2>
      <div class="container">
         <div class="row">
            @for(pokemon of pokemonList; track pokemon.id){
               <div class="col m4 s6">
                  <div class="card horizontal" (click)="selectPokemon(pokemon)" pokemonBorderCard>
                     <div class="card-image">
                        <img [src]="pokemon.picture" alt="pokemon.name" />
                     </div>
                     <div class="card-stacked">
                        <div class="card-content">
                           <p>{{ pokemon.name }}</p>
                           <p>
                              <small>{{ pokemon.created | date: "MMMM dd, y" | uppercase }} </small>
                           </p>
                           @for(type of pokemon.types; track type){
                              <span class="{{ type | pokemonTypeColor}}">
                                 {{ type }}
                              </span>
                           }
                        </div>
                     </div>
                  </div>
               </div>
            }
         </div>
      </div>
   </div>
</main>
